/* Coolors Exported Palette - coolors.co/5c9ead-ffffff-326273-eeeeee-e39774 */

/* RGB */
$color-1: rgba(136, 184, 195, 1);
$color-2: rgba(255, 255, 255, 1);
$color-3: rgba(41, 81, 95, 1);
$color-4: rgba(238, 238, 238, 1);
$color-5: rgba(227, 151, 116, 1);